.big{
height:700px;
width:500px;
background-color:#3CF;
text-align:left;
border:3px solid #000;


	
};



.user-available {
	font-size: 1.125em;

}

.user-available:before {
	content:"✔";
}

.user-available[data-status="unchecked"]{
	display: none;
}

.user-available[data-status="available"] {
	color: #090;
}

.user-available[data-status="unavailable"] {
	color: #f33;
}

.user-available[data-status="unavailable"]:before {
	content:"✖";
}

.pass-reqs{
	list-style-type: none;
}

.pass-reqs li:before{
	color: #f33;
	font-size: 1.125em;
	content:"✖";
}

.pass-reqs li[data-state="achieved"]:before {
	color: #090;
	content:"✔";
}

.username ul:after{
	color:#f33;
	content:"✖";
}


.email ul:after{
	color:#093;
	
	content:"✔";

}
.upperlower ul:before{
		color:#093;
	
	content:"✔";
}

.city ul:after{
	color:#f33;
	content:"✖";
}

.postalcode ul:after{
	color:#f33;
	content:"✖";

}
.india{
	display:inline;
}

.zipcode ul:after{
	color:#f33;
	content:"✖";
}

	
	
.hidden{
	
	display:none;
}
